body {
  margin: 0;
  padding: 0;
}

#particles-js {
  height: 100%;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}
