section.destination {
  display: none;
}

ul.destination {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: $secondaryFont;
  text-align: center;
  color: white;
  align-items: center;
  padding-top: 50%;
  font-size: 30px;
}
