section.introduction {
  display: none;
}

div.wrapper.introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2.introduction {
  width: auto;
  margin: 0 auto;
  padding: 100px 0 60px;
  font-family: $primaryFont;
  color: white;
  text-align: center;
  font-size: 50px;
}

p.introDetail {
  font-family: $secondaryFont;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 40px;
}

p.reasonHeading {
  color: white;
  font-family: $secondaryFont;
  font-size: 20px;
  border: 1px solid red;
  border-radius: 50%;
  width: 300px;
}

//arrow icon

p.takeMeThereContainer {
  text-align: center;
}

p.takeMeThere {
  width: 50%;
  margin: 0 auto;
}

.fa-arrow-down.two {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  color: orangered;
  padding: 80px 0 20px;
}

.takeMeThereText {
  font-family: $secondaryFont;
  width: auto;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 30px;
  transition: all 0.7s;
}

.goBack.intro .fa-arrow-alt-circle-left {
  text-align: center;
  font-size: 40px;
  color: orangered;
  padding-left: 20px;
  position: absolute;
  bottom: 20px;
}

//responsive design

@media (max-width: 940px) {
  .fa-arrow-down.two {
    padding: 10px 0 10px;
    font-size: 30px;
  }

  .takeMeThereText {
    font-size: 20px;
  }

  p.introDetail {
    width: 85%;

    font-size: 18px;
    line-height: 35px;
  }

  h2.introduction {
    padding: 60px 0 40px;
    font-size: 45px;
  }

  .goBack.intro .fa-arrow-alt-circle-left {
    font-size: 25px;
  }
}
