header {
  height: 100vh;
  background-image: url(images/backgroundImageInitialPage.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  width: auto;
  margin: 0 auto;
  padding: 200px 0 100px;
  font-family: $primaryFont;
  color: white;
  text-align: center;
  font-size: 100px;
}

p.beginArrow {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.fa-arrow-down {
  width: auto;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  color: orangered;
  padding: 200px 0 20px;
}

.begin {
  font-family: $secondaryFont;
  width: auto;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 30px;
  transition: all 0.7s;
}
