section.galleryUSA {
  display: none;
}

.slidesContainer {
  position: relative;
}

.slides {
  display: none;
  border: 100px solid white;
}

.previous,
.next {
  position: absolute;
  top: 40%;
  width: auto;
  padding: 20px;
  color: red;
  font-size: 30px;
}

.next {
  right: 0;
}

.previous:hover,
.next:hover {
  color: grey;
}

.imageCaptionContainer {
  text-align: center;
  background-color: rgba($color: #008b8b, $alpha: 0.8);
  padding: 2px 16px;
  color: white;
}

.thumbnailRow {
  display: flex;
}

.thumbnailColumn {
  width: 20%;
}

.thumbnailImage {
  opacity: 0.5;
}

.hoverMe,
.thumbnailImage:hover {
  opacity: 1;
}

p.brochureText {
  text-align: center;
  background-color: rgba($color: #008b8b, $alpha: 0.8);
  padding: 30px 16px;
  color: white;
  margin: 0;
  font-family: $secondaryFont;
  font-size: 30px;
}
