section.galleryUSA {
  display: none;
  position: relative;
}

.slidesContainer {
  position: relative;
}

.slides {
  display: none;
  border: 100px solid white;
}

.previous,
.next {
  position: absolute;
  top: 40%;
  width: auto;
  padding: 20px;
  color: darkcyan;
  font-size: 30px;
}

.next {
  right: 0;
}

.previous:hover,
.next:hover {
  color: grey;
}

.imageCaptionContainer {
  text-align: center;
  background-color: rgba($color: #008b8b, $alpha: 0.5);
  padding: 50px 50px;
  color: white;
  position: absolute;
  font-family: $primaryFont;
  font-size: 30px;

  top: 50px;
  left: 50px;
}

.thumbnailRow {
  display: flex;
}

.thumbnailColumn {
  width: 20%;
}

.thumbnailImage {
  opacity: 0.5;
}

.hoverMe,
.thumbnailImage:hover {
  opacity: 1;
}

p.brochureText {
  text-align: center;
  background-color: rgba($color: #008b8b, $alpha: 0.7);
  padding: 30px 16px;
  color: white;
  margin: 0;
  font-family: $secondaryFont;
  font-size: 20px;
}

.goBack.gallery {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  margin: 0;
  font-family: $secondaryFont;
  font-size: 30px;
}

@media (max-width: 1140px) {
  .slides {
    border: 60px solid white;
  }

  .imageCaptionContainer {
    font-size: 20px;
    top: 30px;
    left: 30px;
  }
}

@media (max-width: 768px) {
  .imageCaptionContainer {
    padding: 30px;
  }

  .previous,
  .next {
    top: 30%;
  }
}

@media (max-width: 550px) {
  .imageCaptionContainer {
    padding: 20px;
  }
}
