@import "setup";
@import "commonDesign";
@import "ourRecentWork";

.formContainer {
  // max-width: 300px;
  // padding: 10px;
  border: 1px solid red;
}

.form-container textarea {
  width: 100%;
  // padding: 15px;
  // margin: 5px 0 22px 0;
  // border: none;
  // background: #f1f1f1;
  // resize: none;
  // min-height: 200px;
}

input[type="text"],
input[type="email"] {
  display: inline-block;
  width: 100%;
  border: 1px solid black;
}
