html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

#particles-js {
  height: 100%;
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

header {
  height: 100vh;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  width: auto;
  margin: 0 auto;
  padding: 200px 0 100px;
  font-family: "Lora", serif;
  color: white;
  text-align: center;
  font-size: 100px;
}

p.beginArrow {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.fa-arrow-down {
  width: auto;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  color: orangered;
  padding: 200px 0 20px;
}

.begin {
  font-family: "Roboto", sans-serif;
  width: auto;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 30px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

section.introduction {
  display: none;
}

div.wrapper.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h2.introduction {
  width: auto;
  margin: 0 auto;
  padding: 100px 0 60px;
  font-family: "Lora", serif;
  color: white;
  text-align: center;
  font-size: 50px;
}

p.introDetail {
  font-family: "Roboto", sans-serif;
  width: auto;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 40px;
}

p.reasonHeading {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  border: 1px solid red;
  border-radius: 50%;
  width: 300px;
}

a.destinationIcon {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 200px 50px 20px;
}

div.destination {
  text-align: center;
  padding-top: 100px;
}

p.takeMeThereContainer {
  text-align: center;
}

p.takeMeThere {
  width: 50%;
  margin: 0 auto;
}

.fa-arrow-down.two {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  color: red;
  padding: 200px 0 20px;
}

.takeMeThereText {
  font-family: "Roboto", sans-serif;
  width: auto;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 30px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.goBack.intro .fa-arrow-alt-circle-left {
  text-align: center;
  font-size: 40px;
  color: orangered;
  padding-left: 20px;
  position: absolute;
  bottom: 20px;
}

section.destination {
  display: none;
}

ul.destination {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50%;
  font-size: 30px;
}

section.galleryUSA {
  display: none;
  position: relative;
}

.slidesContainer {
  position: relative;
}

.slides {
  display: none;
  border: 100px solid white;
}

.previous,
.next {
  position: absolute;
  top: 40%;
  width: auto;
  padding: 20px;
  color: red;
  font-size: 30px;
}

.next {
  right: 0;
}

.previous:hover,
.next:hover {
  color: grey;
}

.imageCaptionContainer {
  text-align: center;
  background-color: rgba(0, 139, 139, 0.8);
  padding: 2px 16px;
  color: white;
}

.thumbnailRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thumbnailColumn {
  width: 20%;
}

.thumbnailImage {
  opacity: 0.5;
}

.hoverMe,
.thumbnailImage:hover {
  opacity: 1;
}

p.brochureText {
  text-align: center;
  background-color: rgba(0, 139, 139, 0.8);
  padding: 30px 16px;
  color: white;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.goBack.gallery {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

section.message {
  display: none;
  padding-top: 100px;
}

.goBack.formPage {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: darkcyan;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.chatWindow {
  max-width: 700px;
  margin: 0 auto;
}

div.name,
div.email {
  width: 100%;
}

input[type="text"],
input[type="email"] {
  display: inline-block;
  width: 100%;
  border: 1px solid black;
  font-size: 12px;
  padding: 13px 8px;
  margin: 0 auto 20px;
  border: none;
  color: darkcyan;
}

label {
  color: darkcyan;
  font-size: 30px;
}

button.submit {
  display: block;
  background-color: darkcyan;
  color: whitesmoke;
  text-transform: uppercase;
  border: none;
  padding: 15px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  margin: 0 auto;
  font-weight: 700;
  width: 300px;
}

.requiredFields {
  color: orangered;
  font-size: 16px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}

.displayText {
  width: auto;
  margin: 0 auto;
  padding: 100px 0 60px;
  font-family: "Lora", serif;
  color: white;
  text-align: center;
  font-size: 50px;
}
